Logs/
Songs/
PlayerSongs/
SongLibrary/
Save/PlayerLoadHook/P1.json
Save/PlayerLoadHook/P2.json
Save/PlayerLoadHook/trigger.txt
Save/PlayerLoadHook/__pycache__
Save/PlayerLoadHook/packmanager.status.txt
Save/*.ini
Save/*.xml
Save/PlayerLoadHook/packmanager-status.txt
Save/PlayerLoadHook/packmanager.log
Save/MachineProfile
Save/LocalProfiles
Cache/
